<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kühlfrank-App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

    <body>
        <div id="kuehlfrank-app" class="container bg-success p-2">



            <!-- Header -->
            <h1 class="bg-light rounded m-2 p-2">Kühlfrank-App</h1>



            <!-- Statistik -->
            <div v-if="display.Statistik" class="bg-light rounded m-2 p-2">
                <h2>Statistik</h2>
                <p>Anzahl der Lebensmittel: {{ anzahlLebensmittel }}</p>
                <p>Anzahl der männlichen Lebensmittel: {{ anzahlMaennlich }}</p>
                <p>Anzahl der weiblichen Lebensmittel: {{ anzahlWeiblich }} ({{ anteilWeiblichProzent }}%)</p>
                <p>Anzahl der diversen Lebensmittel: {{ anzahlDivers }}</p>
            </div>



            <!-- Liste aller Lebensmittel -->
            <div v-if="display.Liste" class="bg-light rounded m-2 p-2">
                <h2>Liste aller Lebensmittel</h2>
                <ul class="list-group m-2">
                    <li class="list-group-item d-flex justify-content-between" v-for="lebensmittel in lebensmittelList"
                        :key="lebensmittel.id">
                        <span>
                            <strong>{{ lebensmittel.name }}</strong>:
                            {{ lebensmittel.mhd}},
                            {{ lebensmittel.geoeffnetSeit}} {{ lebensmittel.kategorie}}
                        </span>
                        <span>
                            <button class="btn btn-secondary mr-2"
                                @click="buttonUpdate(lebensmittel.id)">update</button>
                            <button class="btn btn-danger" @click="buttonLoeschen(lebensmittel.id)">x</button></span>
                    </li>
                    <!-- Button Neu-->
                    <li class="list-group-item"><button @click="formularAnzeigen" class="btn btn-block btn-success">+
                            Neues Lebensmittel</button></li>
                </ul>
            </div>



            <!-- Formular neues Lebensmittel -->
            <div v-if="display.Formular" class="bg-light rounded m-2 p-2">
                <h2>Neues Lebensmittel eintragen:</h2>


                <div class="form-group bg-light rounded m-2 p-2">
                    <label for="selectKategorie" style="font-weight: bold;">Kategorie:</label>
                    <select class="form-control" id="selectKategorie" v-model="newLebensmittel.kategorie">
                        <option>Milchprodukte</option>
                        <option>Konserven</option>
                        <option>Gemüse</option>
                        <option>Obst</option>
                        <option>Teigwaren</option>
                        <option>Sonstiges</option>
                    </select>

                    <label for="selectName" style="font-weight: bold;">Name:</label>
                    <div class="input-group mb-3">
                        <input class="form-control" type="text" v-model="newLebensmittel.name">
                        <button class="btn btn-success" @click="buttonHinzufuegen">
                            +
                        </button>
                    </div>



                    <!-- <h3>MHD</h3> -->
                    <label for="selectMHD1">MHD:</label>
                    <select class="form-control" id="selectMHD" v-model="newLebensmittel.mhd">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>

                    <label for="selectGeoeffnetSeit">Geöffnet seit:</label>
                    <select class="form-control" id="selectGeoeffnetSeit" v-model="newLebensmittel.geoeffnetSeit">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>
                </div>


                <!-- <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Geschlecht</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderM"
                            v-model="newLebensmittel.gender" value="m">
                        <label class="form-check-label" for="radioGenderM">m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderW"
                            v-model="newLebensmittel.gender" value="w">
                        <label class="form-check-label" for="radioGenderW">w</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderD"
                            v-model="newLebensmittel.gender" value="d">
                        <label class="form-check-label" for="radioGenderD">d</label>
                    </div>
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Attacken</h3>
                    <div class="form-check">
                        <input v-model="newLebensmittel.donnerblitz" class="form-check-input" type="checkbox"
                            id="checkDonnerblitz">
                        <label class="form-check-label" for="checkDonnerblitz">
                            Donnerblitz
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="newLebensmittel.voltoball" class="form-check-input" type="checkbox"
                            id="checkVoltoball">
                        <label class="form-check-label" for="checkVoltoball">
                            Voltoball
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="newLebensmittel.surfer" class="form-check-input" type="checkbox"
                            id="checkSurfer">
                        <label class="form-check-label" for="checkSurfer">
                            Surfer
                        </label>
                    </div>
                </div> -->

                <div class="m-2">
                    <button class="btn btn-block btn-success" @click="buttonHinzufuegen">
                        <!-- <img src="plus-circle.svg" alt="+"> -->
                        <!-- <ion-icon name="add-circle-outline" style="size: 200px;"></ion-icon> -->
                        <!-- <img src="add-circle-outline.svg" alt="+" style="height: 30px; color: white;"> -->
                        Hinzufügen
                    </button>
                </div>
            </div>



            <!-- Formular update Lebensmittel -->
            <div v-if="display.Update" class="bg-light rounded m-2 p-2">
                <h2>Vorhandenes Lebensmittel ändern</h2>
                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Name</h3>
                    <input class="form-control" type="text" v-model="updateLebensmittel.name">
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>MHD</h3>
                    <label for="selectMHD">MHD:</label>
                    <select class="form-control" id="selectMHD" v-model="updateLebensmittel.mhd">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>

                    <label for="selectGeoeffnetSeit">Geöffnet seit:</label>
                    <select class="form-control" id="selectGeoeffnetSeit" v-model="updateLebensmittel.geoeffnetSeit">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>

                    <label for="selectKategorie">Kategorie:</label>
                    <select class="form-control" id="selectKategorie" v-model="updateLebensmittel.kategorie">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Geschlecht</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderM"
                            v-model="updateLebensmittel.gender" value="m">
                        <label class="form-check-label" for="radioGenderM">m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderW"
                            v-model="updateLebensmittel.gender" value="w">
                        <label class="form-check-label" for="radioGenderW">w</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderD"
                            v-model="updateLebensmittel.gender" value="d">
                        <label class="form-check-label" for="radioGenderD">d</label>
                    </div>
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Attacken</h3>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.donnerblitz" class="form-check-input" type="checkbox"
                            id="checkDonnerblitz">
                        <label class="form-check-label" for="checkDonnerblitz">
                            Donnerblitz
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.voltoball" class="form-check-input" type="checkbox"
                            id="checkVoltoball">
                        <label class="form-check-label" for="checkVoltoball">
                            Voltoball
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.surfer" class="form-check-input" type="checkbox"
                            id="checkSurfer">
                        <label class="form-check-label" for="checkSurfer">
                            Surfer
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-end m-2">
                    <button class="btn btn-warning mr-2" @click="buttonCancel">Abbrechen</button>
                    <button class="btn btn-primary" @click="buttonAenderungenSpeichern(this.aktuellerIndex)">Änderungen
                        speichern</button>
                </div>
            </div>

        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
        <script src="https://unpkg.com/ionicons@6.0.1/dist/ionicons.js"></script>
    </body>

</html>




<!-- 
<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kühlfrank-App</title>
        <style>
            .static {
                position: absolute;
                background: white;
                height: 60px
            }

            .static:hover {
                opacity: 0;
            }

            .active {
                height: 60px
            }

            :root {
                --bs-success: #198754;
                --bs-success-rgb: 25, 135, 84;
            }
        </style>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>

         <div class="container-fluid p-5 bg-primary text-white text-uppercase">
            <h1>My First Bootstrap Page</h1>
            <p>Resize this responsive page to see the effect!</p> 
</div>
<div id="kuehlfrank-app" class="container-fluid p-2" style="background-color: rgb(21, 139, 21)">

    Header
    <h1 class="bg-light rounded m-2 p-2">Kühlfrank-App</h1>

    <div class="container" style="padding: 10px;">

        <div v-if="display.Liste" class="bg-light rounded m-2 p-2">
            <h2>Liste aller Lebensmittel</h2>
            <ul class="list-group m-2">
                <li class="list-group-item d-flex justify-content-between" v-for="lebensmittel in lebensmittelList"
                    :key="lebensmittel.id">
                    <span>
                        <strong>{{ lebensmittel.name }}</strong>:
                        {{ lebensmittel.mhd}},
                        {{ lebensmittel.geoeffnetSeit}} ({{ lebensmittel.gender }}), {{ lebensmittel.attacken }}
                    </span>
                    <span>
                        <button class="btn btn-secondary mr-2" @click="buttonUpdate(lebensmittel.id)">update</button>
                        <button class="btn btn-danger" @click="buttonLoeschen(lebensmittel.id)">-</button></span>
                </li>
                Button Neu
                <li class="list-group-item"><button @click="formularAnzeigen"
                        class="btn btn-block btn-success">+</button>
                </li>
            </ul>
        </div>

    </div>

</div>



<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>

</html> -->