<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kühlfrank-App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <style>
            #app {
                max-width: 30em;
                margin: 1em auto;
            }
        </style>
    </head>

    <body>
        <div id="kuehlfrank-app" class="container bg-success p-2">




            <!-- Header -->
            <h1 class="bg-light rounded m-2 p-2">Kühlfrank-App</h1>



            <!-- Statistik -->
            <div v-if="display.Statistik" class="bg-light rounded m-2 p-2">
                <h2>Statistik</h2>
                <p>Anzahl der Lebensmittel: {{ anzahlLebensmittel }}</p>
                <p>Anzahl der männlichen Lebensmittel: {{ anzahlMaennlich }}</p>
                <p>Anzahl der weiblichen Lebensmittel: {{ anzahlWeiblich }} ({{ anteilWeiblichProzent }}%)</p>
                <p>Anzahl der diversen Lebensmittel: {{ anzahlDivers }}</p>
            </div>



            <!-- Liste aller Lebensmittel -->
            <div v-if="display.Liste" class="bg-light rounded m-2 p-2">
                <h2>Liste aller Lebensmittel</h2>
                <ul class="list-group m-2">
                    <li class="list-group-item d-flex justify-content-between" v-for="lebensmittel in lebensmittelList"
                        :key="lebensmittel.id">
                        <span>
                            <strong>{{ lebensmittel.name }}</strong>:
                            {{ lebensmittel.mhd}},
                            {{ lebensmittel.geoeffnetSeit}}
                            <!-- {{ lebensmittel.kategorie}} -->
                        </span>
                        <span>
                            <button class="btn btn-secondary mr-2" @click="buttonUpdate(lebensmittel.id)">
                                edit
                                <!-- <ion-icon name="pencil-outline"></ion-icon> -->
                            </button>
                            <button class="btn btn-danger" @click="buttonLoeschen(lebensmittel.id)">x</button></span>
                    </li>
                    <!-- Button Neues Lebensmittel Eintragen-->
                    <li class="list-group-item"><button @click="formularAnzeigen" class="btn btn-block btn-success">+
                            Neues Lebensmittel</button></li>
                </ul>
            </div>


            <!-- Formular neues Lebensmittel -->
            <div v-if="display.Formular" class="bg-light rounded m-2 p-2">
                <h2>Neues Lebensmittel eintragen:</h2>

                <!-- Kategorie -->
                <div class="form-group bg-light rounded m-2 p-2">
                    <label for="selectKategorie" style="font-weight: bold;">Kategorie:</label>
                    <select class="form-control" id="selectKategorie">
                        <option>Milchprodukte</option>
                        <option>Konserven</option>
                        <option>Gemüse</option>
                        <option>Obst</option>
                        <option>Teigwaren</option>
                        <option>Sonstiges</option>
                    </select>

                    <!-- Name -->
                    <label for="selectName" style="font-weight: bold;">Name:</label>
                    <div class="input-group mb-3">
                        <select class="form-control" id="selectKategorie" v-model="newLebensmittel.name"
                            style="padding-right:5px ;">
                            <!-- <optgroup v-for="name in namenList" :key="name.id" label={{ name.kategorie }}></optgroup> -->
                            <!-- <option>
                                <template></template>
                            </option> -->
                            <!-- <optgroup v-for="name in namenList" v-if="true">
                                {{ name.kategorie }}</optgroup> -->
                            <option v-for="name in namenList" v-if="true">
                                {{ name.name }}</option>
                        </select>
                        <!-- Neuer Lebensmittel Name -->
                        <button class="btn btn-success" @click="namenListeAnzeigen">
                            +
                        </button>
                    </div>

                    <!-- MHD -->
                    <label for="selectMHD1">MHD:</label>
                    <input class="form-control" type="date" name="mhd" id="selectMHD" v-model="newLebensmittel.mhd"
                        required pattern="\d{4}-\d{2}-\d{2}">
                    <label for="selectGeoeffnetSeit">Geöffnet seit:</label>
                    <input class="form-control" type="date" name="geoeffnetSeit" id="selectGeoeffnetSeit"
                        v-model="newLebensmittel.geoeffnetSeit" required pattern="\d{4}-\d{2}-\d{2}">
                </div>


                <!-- Hinzufügen-Butoon -->
                <div class="m-2">
                    <button class="btn btn-block btn-success" @click="buttonHinzufuegen">
                        <!-- <img src="plus-circle.svg" alt="+"> -->
                        <!-- <ion-icon name="add-circle-outline" style="size: 200px;"></ion-icon> -->
                        <!-- <img src="add-circle-outline.svg" alt="+" style="height: 30px; color: white;"> -->
                        Hinzufügen
                    </button>
                </div>
            </div>


            <!-- Liste alle Namen -->
            <div v-if="display.ListeNamen" class="bg-light rounded m-2 p-2">
                <h2>Liste aller Namen</h2>
                <ul class="list-group m-2">
                    <li class="list-group-item d-flex justify-content-between" v-for="name in namenList">
                        <span>
                            <strong>{{ name.name }}</strong> ({{ name.kategorie }})

                        </span>
                        <span>
                            <button class="btn btn-secondary mr-2" @click="buttonNameUpdate(name.id)">
                                edit
                                <!-- <ion-icon name="pencil-outline"></ion-icon> -->
                            </button>
                            <button class="btn btn-danger" @click="">x</button></span>
                        <!-- buttonLoeschen(lebensmittel.id) -->
                    </li>
                    <!-- Button Neues Lebensmittel Eintragen-->
                    <li class="list-group-item"><button @click="formularAnzeigen" class="btn btn-block btn-success">+
                            Neues Lebensmittel</button></li>
                </ul>
            </div>


            <!-- Formular neuer Name -->
            <div v-if="display.NeuerName" class="bg-light rounded m-2 p-2">
                <h2>Neues Produkt Hinzufügen:</h2>

                <!-- Kategorie -->
                <div class="form-group bg-light rounded m-2 p-2">
                    <label for="selectKategorie">Kategorie:</label>
                    <select class="form-control" id="selectNameKategorie" v-model="newName.kategorie">
                        <option>Milchprodukte</option>
                        <option>Konserven</option>
                        <option>Gemüse</option>
                        <option>Obst</option>
                        <option>Teigwaren</option>
                        <option>Sonstiges</option>
                    </select>
                    <label for="selectKategorie">Name:</label>

                    <!-- Name -->
                    <div class="form-group bg-light rounded">
                        <input class="form-control" type="text" v-model="newName.name">
                    </div>
                </div>


                <!-- Hinzufügen-Butoon -->
                <div class="p-2 m-2 row">
                    <button class="btn col btn-success" style="margin-right: 5px;" @click="buttonNameHinzufuegen">
                        <!-- <img src="plus-circle.svg" alt="+"> -->
                        <!-- <ion-icon name="add-circle-outline" style="size: 200px;"></ion-icon> -->
                        <!-- <img src="add-circle-outline.svg" alt="+" style="height: 30px; color: white;"> -->
                        Hinzufügen
                    </button>
                    <button class="btn btn-dark" @click="buttonNameAbbrechen">
                        abbrechen
                    </button>
                </div>
            </div>

            <!-- Formular update Lebensmittel -->
            <div v-if="display.Update" class="bg-light rounded m-2 p-2">
                <h2>Vorhandenes Lebensmittel ändern</h2>
                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Name</h3>
                    <input class="form-control" type="text" v-model="updateLebensmittel.name">
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>MHD</h3>
                    <label for="selectMHD">MHD:</label>
                    <select class="form-control" id="selectMHD" v-model="updateLebensmittel.mhd">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>

                    <label for="selectGeoeffnetSeit">Geöffnet seit:</label>
                    <select class="form-control" id="selectGeoeffnetSeit" v-model="updateLebensmittel.geoeffnetSeit">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>

                    <label for="selectKategorie">Kategorie:</label>
                    <select class="form-control" id="selectKategorie" v-model="updateLebensmittel.kategorie">
                        <option>Feuer</option>
                        <option>Normal</option>
                        <option>Wasser</option>
                        <option>Elektro</option>
                        <option>Pflanze</option>
                        <option>Eis</option>
                    </select>
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Geschlecht</h3>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderM"
                            v-model="updateLebensmittel.gender" value="m">
                        <label class="form-check-label" for="radioGenderM">m</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderW"
                            v-model="updateLebensmittel.gender" value="w">
                        <label class="form-check-label" for="radioGenderW">w</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="radioGender" id="radioGenderD"
                            v-model="updateLebensmittel.gender" value="d">
                        <label class="form-check-label" for="radioGenderD">d</label>
                    </div>
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Attacken</h3>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.donnerblitz" class="form-check-input" type="checkbox"
                            id="checkDonnerblitz">
                        <label class="form-check-label" for="checkDonnerblitz">
                            Donnerblitz
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.voltoball" class="form-check-input" type="checkbox"
                            id="checkVoltoball">
                        <label class="form-check-label" for="checkVoltoball">
                            Voltoball
                        </label>
                    </div>
                    <div class="form-check">
                        <input v-model="updateLebensmittel.surfer" class="form-check-input" type="checkbox"
                            id="checkSurfer">
                        <label class="form-check-label" for="checkSurfer">
                            Surfer
                        </label>
                    </div>
                </div>

                <div class="d-flex justify-content-end m-2">
                    <button class="btn btn-warning mr-2" @click="buttonCancel">Abbrechen</button>
                    <button class="btn btn-primary" @click="buttonAenderungenSpeichern(this.aktuellerIndex)">Änderungen
                        speichern</button>
                </div>
            </div>

            <!-- Formular update Name -->
            <div v-if="display.UpdateVonName" class="bg-light rounded m-2 p-2">
                <h2>Vorhandenen Name ändern</h2>
                <div class="form-group bg-light rounded m-2 p-2">
                    <h3>Name</h3>
                    <input class="form-control" type="text" v-model="updateName.name">
                </div>

                <div class="form-group bg-light rounded m-2 p-2">
                    <label for="selectKategorie">Kategorie:</label>
                    <select class="form-control" id="selectKategorie" v-model="updateName.kategorie">
                        <option>Milchprodukte</option>
                        <option>Konserven</option>
                        <option>Gemüse</option>
                        <option>Obst</option>
                        <option>Teigwaren</option>
                        <option>Sonstiges</option>
                    </select>
                </div>

                <div class="d-flex justify-content-end m-2">
                    <button class="btn btn-warning mr-2" @click="buttonNameCancel">Abbrechen</button>
                    <button class="btn btn-primary"
                        @click="buttonNamenAenderungenSpeichern(this.aktuellerIndex)">Änderungen
                        speichern</button>
                </div>
            </div>

        </div>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
        <script src="https://unpkg.com/ionicons@6.0.1/dist/ionicons.js"></script>

        <script src="https://unpkg.com/vue@2"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
    </body>

</html>